.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: #282c34;
  color: bisque;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  height: 100%;
}

.product_data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  left: -40px;
}
.add_to_cart {
  border-radius: 10px;
  background: transparent;
  color: beige;
  display: flex;
  align-items: center;
}

.products{
  display: grid;
  grid-template-columns: repeat(3,1fr)
}

.card{
  width: 150px;
    margin: 20px;
    border-color: beige;
    border: 5px;
    border-radius: 5px;
    background: chocolate;
    height: auto;
    max-height: fit-content;
}

.product_details{
  padding: 20px;
}

.cart_list{
  
  justify-content: left;
  position: absolute;
  right: 100px;
  top: 70px;
}

.cart_heading{
  position: absolute;
    top: 0px;
    right: 500px;
}